:root {
  --black-color: #000;
  --white-color: #fff;
  --hover-btn-color: #ccc;
  --main-red-color: #f44336;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

/* Content section */
.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 64px 16px;
}

.content__heading {
  margin-top: 10px;

  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
  line-height: 1.5;
}

.content__sub-heading {
  margin-top: 25px;

  color: var(--black-color);

  opacity: 0.6;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.content__heading--white,
.content__sub-heading--white {
  color: var(--white-color);
}

/* Grid layout */

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-right: 8px;
  padding-left: 8px;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Button common */

.btn {
  margin-bottom: 16px;
  padding: 11px 16px;
  border: none;

  background-color: var(--black-color);
  color: var(--white-color);

  font-size: 1.5rem;
}

.btn:hover {
  background-color: var(--hover-btn-color);
  color: var(--black-color);
  cursor: pointer;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  display: none;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
  z-index: 1;
  margin: auto;
}
