/* PC */

@media (min-width: 1024px) {
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
}

/* Tablet and Mobile */
@media (max-width: 1023px) {
  .nav__subnav-item-link {
    padding: 12px 16px;
  }

  .btn {
    padding: 15px 16px;
  }

  .contact__form-input {
    padding: 15px 8px;
  }

  .contact__info-item {
    line-height: 1.5;
  }

  .footer__copyright a {
    display: inline-block;
    padding: 12px 0;
  }
}

/* Mobile */

@media (max-width: 739px) {
  .mobile-full-with {
    width: 100%;
  }
  #header {
    overflow: hidden;
  }
  .nav {
    display: block;
  }
  .nav-item {
    display: block;
  }

  .nav__subnav {
    position: initial;
    background-color: #333;
  }

  .nav__subnav-item-link {
    color: var(--white-color);
    padding: 8px 40px;
  }

  .header__search-btn {
    display: none;
  }

  .header__mobile-menu-btn {
    display: block;
  }

  .nav-item:nth-child(1) {
    display: inline-block;
  }

  .band__member-img {
    width: 60%;
  }

  .c-12-mobile {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .contact__info-item:last-child {
    margin-bottom: 32px;
  }
}
